* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c7ffeb;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3 {
    margin-bottom: 15px;
    color: #444;
}

.header-container {
    background: #50b3a2;
    border-radius: 10px;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);

}

.header-container .nav {
    margin-top: 10px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;

    
}

.header-container .nav a {
    padding: 1px 2px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
    margin-left: 10px;
    

}

.header-container .logo img {
    height: 100px;
    width: auto;
}

.header-container .logo .icon-disciplina {
    color: white
}

main .seccion1 {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;

}

main .seccion1 ul {
    list-style: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #50b3a2;
    color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

main .intro {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;}
main .intro .intro-texto {
    flex: 2;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

main .intro .intro-texto p {
    font-size: 20px;
    text-align: center;
    padding: 20px 10px 10px 20px;
}
main .intro .intro-texto span {
    font-weight: bold;
    color: #50b3a2;
}
main .intro .intro-img {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px; 
    
}
